body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: "DIN Neuzeit Grotesk", sans-serif;
}

main {
  padding: 20px;
  background-repeat: no-repeat;
  text-align: center;
  min-width: auto;
  min-height: auto;
}

.index {
  margin-top: 150px;
  transition: margin-top 1s ease-in-out;
}

.index-logo-image {
  top: 100%;
  transform: translate(375%, 120%) scale(2.5);
  transition: transform 2s ease;
}

.logo-image {
  margin-top: 5px;
  margin-left: 5px;
}

.center-text {
  background-image: url("../assets/images/cleanEating.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 50vh;
  color: white;
}

.features {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 100px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.feature-box {
  flex: 1;
  line-height: 150%;
  animation: fadeIn 2s ease;
}

.feature-box p {
  margin-top: 10px;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.carousel-container {
  position: relative;
  width: 80%;
  overflow: hidden;
  margin: 10px 0;
  padding: 15px;
}

.carousel-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.carousel-slide img {
  width: auto;
  height: 200px;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin: 80px;
  justify-content: center;
  align-items: center;
}

.brands img {
  margin: 15px;
  flex-basis: calc(20% - 20px);
  max-width: calc(20% - 20px);
  box-sizing: border-box;
  width: 70%;
  height: auto;
}

.items {
  display: flex;
  width: 50%;
  height: 50vh;
  justify-content: space-between;
  padding: 20px;
  margin-left: 80px;
}

.products-title {
  padding: 30px;
}

.products-title h2 {
  margin: 10px;
  margin-bottom: 15px;
}

.product-header {
  display: flex;
  justify-content: space-between;
  border-top: lightgray solid 1px;
  border-bottom: lightgray solid 1px;
  padding: 20px;
}

.product-container {
  display: flex;
}

.filter {
  display: flex;
  padding: 20px;
  line-height: 35px;
}

.filter-option {
  flex-direction: column;
}

.item {
  margin: 20px;
  padding: 15px;
}

.item img {
  width: 300px;
  height: auto;
}

.item img + p {
  height: auto;
  margin-top: 0;
}

.category-item img {
  margin-bottom: 10px;
}

.categories {
  display: flex;
  margin: 90px;
}

.category-item {
  flex: 1;
}

.category-item img {
  padding: 20px;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

header {
  padding: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }
  .index-logo-image {
    transform: none;
    scale: 1;
    top: initial;
    transition: none;
    margin-top: 5px;
    margin-left: 5px;
  }
  #profileIcon,
  #searchIcon,
  #cartIcon,
  #navButton {
    padding: 10px;
    width: 30px;
    height: 30px;
    background-size: 60%;
  }
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -250px;
  width: 200px;
  padding-top: 30px;
  background-color: white;
  transition: right 0.5s ease;
  z-index: 1;
}

.categories {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.notFound {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: lighter;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: flex-end;
}

#profileIcon,
#searchIcon,
#cartIcon,
#navButton {
  width: 40px;
  height: 40px;
  background-size: 70%;
}

#navButton {
  background-image: url("../assets/icons/menu.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: transparent;
  border: none;
}

#profileIcon {
  background-image: url("../assets/icons/profile.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

#searchIcon {
  background-image: url("../assets/icons/search.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

#cartIcon {
  background-image: url("../assets/icons/cart.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  background-size: 63%;
}

.container {
  position: sticky;
}

.main-nav-list {
  text-decoration: none;
  padding: 0;
}

.main-nav-list li {
  margin-bottom: 10px;
}

.main-nav-list a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 5px;
  transition: color 0.3s;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;
  margin: 20px auto;
  flex-direction: row;
}

.form-section {
  flex: 1;
}

.form-group {
  display: flex;
  flex-direction: center;
  align-items: flex-start;
  flex-direction: column;
}

.form-section form label {
  font-size: 18px;
  margin-bottom: 10px;
}

.form-section form input[type="text"] {
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 300px;
  height: 30px;
  padding: 10px;
}

.form-section form input#message {
  height: 150px;
  resize: vertical;
}

.form-section form button {
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 10px;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
}

.location-section {
  flex: 1;
  background-color: #f2f2f2;
  padding: 5%;
  margin-top: 30px;
}

ul {
  list-style-type: none;
}
