body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  padding: 20px;
  color: white;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

header {
  /* background-color: #333; */
  padding: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-nav {
  display: none;
}

#navButton {
  padding: 10px;
  width: 3%;
  height: 2%;
  background-image: url("../assets/icons/menu.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: transparent;
  border: none;
}

#profileIcon {
  padding: 10px;
  width: 10%;
  height: 10%;
  background-image: url("../assets/icons/profile.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: transparent;
  border: none;
}

#searchIcon {
  padding: 10px;
  width: 10%;
  height: 10%;
  background-image: url("../assets/icons/search.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: transparent;
  border: none;
}

#cartIcon {
  padding: 10px;
  width: 10%;
  height: 10%;
  background-image: url("../assets/icons/cart.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: transparent;
  border: none;
}

.main-nav-list a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#navButton:hover + .main-nav {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}
